@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Barlow+Semi+Condensed&family=Oswald&display=swap");

:root {
    --purple-1: #733FC8;
    --purple-2: #A775F1;
    --gray-1: #CFCFCF;
    --white-1: #FFFFFF;
    --font-size-1: 13px;
    --font-size-2: 20px;
    --font-set-1: "Barlow Semi Condensed";
    --blue-1: #ECF2F8;
    --blue-2: #48556A;
    --black-1: #19202D;
    --mobile-gutters-1: 24px;
    --desktop-gutters-1: 30px;
    --text-area-height-1: 13px;
    --text-area-height-2: 11px;
    --text-area-height-3: 24px;
    --text-area-height-4: 18px;
    --margin-1: 24px;
    --margin-2: 32px;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: var(--blue-1);
}

#app-wrapper {
    max-width: 327px;
    margin-top: 71px;
    margin-left: var(--margin-1);
    margin-right: var(--margin-1);
    margin-bottom: 71px;
}

#testimonial-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: var(--mobile-gutters-1);
}

.testimonial {
    grid-column: 1 / -1;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

.testimonial-container {
    margin-top: 26px;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
    margin-bottom: var(--margin-2);
}

.endorser-block {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-bottom: 18px;
}

.testimonial > .testimonial-container > .endorser-block > img {
    width: 28px;
    height: 28px;
    margin-right: 17px;
    border-radius: 50px;
}

.endorser-block-details {
    margin: 0;
}

.endorser-block-details-name {
    color: var(--white-1);
    font-size: 13px;
    line-height: var(--text-area-height-1);
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
}

.endorser-block-details-status {
    color: var(--gray-1);
    font-size: 11px;
    line-height: var(--text-area-height-1);
    margin: 0;
    font-family: var(--font-set-1);
    opacity: 0.5;
}

.endorser-block-details-name, .endorser-block-details-status {
    font-family: var(--font-set-1);   
}

.testimonial > .testimonial-container >  h2 {
    max-width: 476px;
    line-height: var(--text-area-height-3);
    color: var(--white-1);
    font-size: var(--font-size-2);
    font-family: var(--font-set-1);
    margin-top: 0;
    margin-bottom: 16px;
    padding-right: 5px;
}

.testimonial > .testimonial-container >  blockquote {
    max-width: 476px;
    line-height: var(--text-area-height-4);
    color: var(--gray-1);
    font-size: var(--font-size-1);
    font-family: var(--font-set-1);
    margin: 0;
    opacity: 0.7;
    padding-right: 5px;
}

#testimonial1 {
    background-color: var(--purple-1);
    background-image: url("../assets/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 24px top;
    background-size: 104px 102px;
}

#testimonial1 > .testimonial-container >  blockquote {
    margin-right: 16px;
}

#testimonial1 > .testimonial-container > .endorser-block > img {
    border: 2px solid var(--purple-2);
}

#testimonial2 {
    background-color: var(--blue-2);
}

#testimonial3 {
    grid-row: 5;
    background-color: var(--white-1);
}

#testimonial3 .endorser-block-details-name, 
#testimonial3 .endorser-block-details-status {
    color: var(--blue-2);
}

#testimonial3 > .testimonial-container >  h2,
#testimonial3 > .testimonial-container >  blockquote {
    color: var(--blue-2);
}

#testimonial4 > .testimonial-container >  h2,
#testimonial4 > .testimonial-container >  blockquote {
    color: var(--blue-2);
}

#testimonial4 {
    background-color: var(--white-1);
}

#testimonial4 .endorser-block-details-name, 
#testimonial4 .endorser-block-details-status {
    color: var(--blue-2);
}

#testimonial4 > .testimonial-container >  h2,
#testimonial4 > .testimonial-container >  blockquote {
    color: var(--blue-2);
}

#testimonial5 {
    background-color: var(--black-1);
}

#testimonial5 > .testimonial-container > .endorser-block > img {
    border: 2px solid var(--purple-2);
}

@media (min-width: 1440px) {
    
    #app-wrapper {
        max-width: 1110px;
        margin-top: 70.5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #testimonial-group {
        display: grid;
        grid-template-columns: repeat(12, 65px);
        grid-template-rows: repeat(2, auto);
        grid-gap: var(--desktop-gutters-1);
    }

    #testimonial1 {
        grid-column: span 6;
        grid-row: 1;
        background-position: right 90px top;
    }
       
    #testimonial2 {
        grid-column: span 3;
        grid-row: 1;
    }
    
    #testimonial3 {
        grid-column: span 3;
        grid-row: span 2;
    }
    
    #testimonial4 {
        grid-column: span 3;
        grid-row: 2;
    }
    
    #testimonial5 {
        grid-column: span 6;
    }
}